<!DOCTYPE html>
<html>
<head>
    <title>Curso Vue.js</title>
    <meta charset="utf-8">
</head>
<body>

    <div id="app">
        <!-- 
            Obtención de datos de formularios y enlace con view model por medio de la directiva v-model
         -->
        <input type="text" name="nombre" placeholder="Ingrese su nombre" v-model="nombre">
        <p>Su nombre en mayúsculas es: {{ nombre | uppercase }}</p>
        <form @submit.prevent="submit">
            <h2>¿Cuales son tus cursos favoritos?</h2>
            <input v-model="cursos" type="checkbox" id="cb_vue" value="vue">
            <label for="cb_vue">Vue.js</label>

            <input v-model="cursos" type="checkbox" id="cb_angular" value="angular">
            <label for="cb_angular">Angular</label>

            <input v-model="cursos" type="checkbox" id="cb_react" value="react">
            <label for="cb_react">React</label>

            <button type="submit">Enviar</button>

        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                nombre: '',
                cursos: []
            },
            filters: {
                uppercase: function (str) {
                    return str.toUpperCase()
                }
            },
            methods: {
                submit: function() {
                    console.log('Submit');
                    console.log(this.cursos);
                }
            }
        })
    </script>
</body>
</html>